.App {
	text-align: center;
	display: flex;
}

.login-form {
}

.navbar {
	height: 200px;
}

.result {
}

#foodImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#recipeDiv {
	margin: auto;
	width: 50%;
}

#foodTitle {
	text-align: center;
}
#details {
	padding-left: 5%;
}

#lists {
	display: flex;
	flex-direction: row;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
