body {
	height: 100%;
	background-image: url('./pictures/background-img.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.App {
	text-align: center;
	display: flex;
}

.login-form {
	height: 100%;
}

.navbar {
	height: auto;
}
.side-drawer {
	height: 100%;
	background-color: #594f8d;
	box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 25%;
	max-width: 400px;
	z-index: 200;
	transform: translateX(-100%);
	transition: transform 0.3s ease-out;
}

.result {
}

#foodImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#recipeDiv {
	margin: auto;
	width: 50%;
}

#foodTitle {
	text-align: center;
}
#details {
	padding-left: 5%;
}

#lists {
	display: flex;
	flex-direction: row;
}

.optionsDiv {
	margin: 10px;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
